body{
    background: rgb(0, 49, 34) !important;
}
.navbar-brand{
    padding-left: 2rem;
}
.form-check{
    padding-top: 1rem;
   width:auto;
   font-size: 1rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: white;
   margin-top: 1rem;
   box-shadow: 4px 6px 3px pink;
   border-radius: 20px;
   display: inline-flex;
}
.form-check:hover{
    background-color: rgb(133, 133, 133);
    box-shadow: 4px 6px 3px lightcoral;
    transition: background-color 1s;
}

.flex-box{
    display:inline-flex;
    justify-content: flex-end;
    padding-left: 55rem;
  }